@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.AdDesigner {
  font-family: sans-serif;
}

.AdDesigner--Caveat {
  font-family: Caveat;
}

.AdDesigner--Ad {
  border: 3px solid black;
  width: 150px;
  text-align: center;
  box-shadow: 0 0 2px 0;
  border-color: #222;
}

 .AdDesigner--Ad.dark {
  color: white;
  background-color: black;
  border-color:white;
  box-shadow: 0 0 10px 0 gray;
} 

button:active {
  background-color: #1e60a9;
}

button:disabled {
  background-color: gray;
}

