@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


.Header {
  display: flex;
  flex-direction: row;
  font-family: Caveat;
  font-size: 30px;
  color: #0e3c7e;
  box-shadow: 0 0 2px 0;
}


